%html
  %head
    %meta{"http-equiv" => "content-type", :content => "text/html;charset=UTF-8"}
    %title= [@title, "Gemwatch"].compact.join(' - ')
    %link{:rel => "stylesheet", :type => "text/css", :href => asset_url("/style.css")}
  %body{:class => @body_class}
    %div.wrap
      =yield
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => asset_url("/gemwatch.js"), :type => "text/javascript", :charset => "utf-8"}

