/* Default style */

body {
  font-family: "LMSans10", Helvetiva, Arial, sans-serif;
  width: 760px;
  margin: 1em auto;
  background: #eeeeec;
}

body .wrap {
  padding: 1em;
  border-width: 1px;
  border-style: solid;
  background: white;
}

h1 {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

h1, h2 {
  text-shadow: #888a85 1px 1px 5px;
}

h2 {
  text-decoration: underline;
}

blockquote {
  background: #eeeeec;
  padding: 5px;
  border-style: solid;
  border-color: #babdb6;
  border-width: 1px 1px 1px 8px;
}

blockquote:before {
}

a, a:link, a:visited {
  color: black;
}

pre, code {
  border: 1px solid #babdb6;
  background: #eeeeec;
  padding: 2px;
}

/* Not Found */
body.not-found .wrap {
  border-color: #555753;
  background-color: #eeeeec;
}

body.not-found h1 {
  color: #555753;
  border-bottom-color: #555753;
}

/* Internal error */
body.internal-error .wrap {
  border-color: #a40000;
  background-color: #fc9999;
}

body.internal-error h1 {
  color: #a40000;
  border-bottom-color: #a40000;
}
